{% include 'head.html.twig' %}

{% include 'header.html.twig' %}

<section id="main-content">

{% include '/admin/navbar.html.twig' %}


	<section class="generic teal">
		<h1>All Questions List</h1>
		<div class="white-table-list">

			<select class="records-per-page">
			  <option>25</option>
			  <option>50</option>
			  <option>100</option>
			  <option>All</option>
			</select>
			<span>records per page</span>

			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Question</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>This is the university assignment question for students that requires them to think clearly and critically, use valid evidence and produce well-structured and coherent pieces of writing?</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>This is the university assignment question for students that requires them to think clearly and critically, use valid evidence and produce well-structured and coherent pieces of writing?</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>This is the university assignment question for students that requires them to think clearly and critically, use valid evidence and produce well-structured and coherent pieces of writing?</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>This is the university assignment question for students that requires them to think clearly and critically, use valid evidence and produce well-structured and coherent pieces of writing?</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>This is the university assignment question for students that requires them to think clearly and critically, use valid evidence and produce well-structured and coherent pieces of writing?</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>This is the university assignment question for students that requires them to think clearly and critically, use valid evidence and produce well-structured and coherent pieces of writing?</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>This is the university assignment question for students that requires them to think clearly and critically, use valid evidence and produce well-structured and coherent pieces of writing?</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>This is the university assignment question for students that requires them to think clearly and critically, use valid evidence and produce well-structured and coherent pieces of writing?</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>This is the university assignment question for students that requires them to think clearly and critically, use valid evidence and produce well-structured and coherent pieces of writing?</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>This is the university assignment question for students that requires them to think clearly and critically, use valid evidence and produce well-structured and coherent pieces of writing?</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>This is the university assignment question for students that requires them to think clearly and critically, use valid evidence and produce well-structured and coherent pieces of writing?</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>

			<p class="fLeft inline">Showing 21 to 45 of 57 entries</p>

			<div class="pagination fRight">
			  <ul>
			    <li><a href="#">Previous</a></li>
			    <li class="active"><a href="#">1</a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">Next</a></li>
			  </ul>
			</div>

		</div>
	</section>
	
</section>

<footer id="main-footer"></footer>

</body>
</html>
