        <!--
        navbar.html.twig
        -->
        <nav id="breadcrumb">
			
            <a href="/admin/add-course"><button type="button" class="btn">Add Course <i class="icon-plus-sign"></i></button></a>
            <a href="/admin/add-assignment"><button type="button" class="btn">Build Assignment <i class="icon-plus-sign"></i></button></a>	
            <a href="/admin/add-question"><button type="button" class="btn">Add Question <i class="icon-plus-sign"></i></button></a>
	</nav>
