<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>DALITE</title>
	<link rel="stylesheet" href="css/normalize.css" />
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/styles.css" />
	<script type="text/javascript" src="scripts/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="scripts/generic.js"></script>
	<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="scripts/bootstrap-collapse.js"></script>
	<!--[if lte IE 9]>
		<script type="text/javascript" src="scripts/mootools-core-1.4.5-full-nocompat.js"></script>
		<script type="text/javascript" src="scripts/selectivizr-min.js"></script>
		<script type="text/javascript" src="scripts/modernizr.js"></script>
	<![endif]-->
	<!--[if gte IE 9]>
		<style type="text/css">
			.gradient {
				 filter: none;
			}
		</style>
	<![endif]-->
</head>
<body>

<section id="header">
	<header>
		<hgroup>
			<h1 title="Dalite"><a href="index.html"><span>D</span><span>a</span><span>l</span><span>i</span><span>t</span><span>e</span></a></h1>
			<h2 title="Access to Learning and Interactive Technologies">Access to Learning and Interactive Technologies</h2>
		</hgroup>
	</header>
	
	<div class="btn-group drop-log-out">
		<p><a href="#">logout</a></p>
		<button class="btn"><i class="icon-cog"></i></button>
		<button class="btn dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li>Option 1</li>
			<li>Option 2</li>
			<li>Option 3</li>
		</ul>
	</div>
</section>

<div class="clear"></div>

<section id="main-content">

	<section id="available-courses">
		<h1>Available Courses</h1>

		<article class="course">
			<button>Start Physics Run</button>
			<p>Learn the relationship between physics problems and their underlying concepts through tagging, answering and reflecting on your reasoning. </p>
		</article>

		<article class="course">
			<button>Start Physics Run</button>
			<p>Learn the relationship between physics problems and their underlying concepts through tagging, answering and reflecting on your reasoning. </p>
		</article>

	</section>
</section>

<footer id="main-footer"></footer>

</body>
</html>