{% include 'head.html.twig' %}
{% include 'header.html.twig' %}

<section id="main-content">

	<section id="login">
		

		<form action="/" method="POST" class="form">
			<fieldset>
				
				<div class="aligner">
                                            {{ debug_message }}
                                </div>
				
				<div class="clear"></div>

				<div class="button_div">
					<input type="submit" name="error" value="error" class="btn btn-primary" />
                                </div>
				<div class="clear"></div>
			</fieldset>
		</form>


	</section>

</section>

<footer id="main-footer"></footer>

</body>
</html>
