{% include 'head.html.twig' %}
{% include 'header.html.twig' %}

<section id="main-content">

	<div class="well">
	<p>
	<h1> Welcome to EDU8.CA </h1>
	</p>
	<p>
	<a href="mailto:admin@edu8.ca?Subject=Web Contact" target="_top">Contact us.</a>
	</p>
	</div>
</section>

<footer id="main-footer"></footer>

</body>
</html>
