  <article class="{{ class }}">
    <header>
      <hgroup>
        <h1>Question  {{ question_num+1 }} of {{ question_total }}</h1>
        <h2>{{ q['title'] }}  <!--note it would be good to put prof name here in next iteration--></h2>
        
      </hgroup>
    </header>
