{% include 'head.html.twig' %}
{% include 'header.html.twig' %}

<section id="main-content">

	<section id="login">
		<h1>You are logged out!</h1>
                
                <p style="text-align: left;"><a href="">Click here to login again</a></p>

		


	</section>

</section>

<footer id="main-footer"></footer>

</body>
</html>
